<h1>Social Science Library</h1>
<h3>Produced by the Global Development and Environment Institute at Tufts University</h3>
<%= form_tag("/doc", method: "get") do %>
	<h5>Search By:</h5>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title, params[:title])%>
  </br>
  <%= label_tag(:author, "Author(s):") %>
  <%= text_field_tag(:author, params[:author]) %>
  </br>
  <%= label_tag(:isbn, "ISBN:") %>
  <%= text_field_tag(:isbn, params[:isbn]) %>
  </br>
  <%= label_tag(:disciplines, "Discipline(s):") %>
  <%= text_field_tag(:disciplines, params[:disciplines]) %>
  </br>
  <%= label_tag(:keywords, "Keyword(s):") %>
  <%= text_field_tag(:keywords, params[:keywords]) %>
  </br>
  <%= label_tag(:publisher, "Publisher:") %>
  <%= text_field_tag(:publisher, params[:publisher]) %>
  </br>
  <%= submit_tag("Search") %>
  <%= link_to 'Clear', docs_path, class: 'btn' %>
<% end %>
