<h3>
<% if doc['ssltitle'].nil? %>
	<%= doc['title'].gsub('<b>', '').gsub('</b>', '') %>
<% else %>
	<%= doc['ssltitle'] %>
<% end %></h3>
<div class="panel panel-info">
  <div class="panel-heading">
  <!-- <%= doc['title'].gsub('<b>', '').gsub('</b>', '') %> -->
    <div class="panel-title">Metadata</div>
  </div>
  <div class="panel-body" style="overflow-x: scroll">
		<table class="table">
		  <tr>
		  	<th>Key</th> 
		    <th>Value</th>
		  </tr>
		  <tr>
		  	<td>Title</td>
		  	<td><%= doc['title'].gsub('<b>', '').gsub('</b>', '') %></td>
		  </tr>
		  <% if not doc['authors'].nil? %>
			  <tr>
			  	<td>Authors</td>
			  	<td><%= doc['authors'] %></td>
			  </tr>
		  <% end %>
		  <% if not doc['subject_terms'].nil? %>
			  <tr>
			  	<td>Keywords</td>
			  	<td><%= doc['subject_terms'] %></td>
			  </tr>
		  <% end %>
			<% doc.each do |k, v| %>
				<% if k[0] == 'u' then k = k[2..-2] end %>
				<tr>
					<td><%= k.gsub(/\u0080-\u00ff/,'') %></td> 
					<td><%= v.to_s.lstrip %></td> 
				</tr>
			<% end %>
		</table>
	</div>
</div>