<%= form_tag("/doc", method: "get") do %>
  <%= label_tag(:title, "Search for title:") %>
  <%= text_field_tag(:title, params[:title])%>
  <%= label_tag(:author, "Author(s):") %>
  <%= text_field_tag(:author, params[:author]) %>
  <%= label_tag(:keywords, "Keywords:") %>
  <%= text_field_tag(:keywords, params[:keywords]) %>
  <%= submit_tag("Search") %>
  <%= link_to 'Clear', docs_path, class: 'btn' %>
<% end %>
<table style="width:100%">
  <tr>
    <th>Title</th> 
    <th>Author(s)</th>
  </tr>
  <% @docs.each do |d| %>
    <% doc = d %>
    <tr>
      <td><a href=<%= doc_path(id: doc['id']) %>><%= doc['ssltitle'] %></a></td>
      <td><%= doc['sslauthor'] %></td>
    </tr>
  <% end %>
</table>