<div class="ssl-table-search">
  <%= form_tag("/doc", method: "get") do %>
    <%= label_tag(:title, "Search for title:") %>
    <%= text_field_tag(:title, params[:title])%>
    <%= label_tag(:author, "Author(s):") %>
    <%= text_field_tag(:author, params[:author]) %>
    <%= label_tag(:keywords, "Keywords:") %>
    <%= text_field_tag(:keywords, params[:keywords]) %>
    <%= submit_tag("Search", class: 'btn btn-primary') %>
    <%= link_to 'Clear', docs_path %>
  <% end %>
</div>
<div class="panel panel-info ssl-table">
  <div class="panel-heading">
    <div class="panel-title">
    <% if not (params[:title] == '' and params[:author] == '' and params[:keywords] == '') %>SSL Filters <% else %>Social Science Library<% end %> 
    <% if not params[:title].nil? and params[:title] != '' %>| Title: <%= params[:title] %> <% end %>
    <% if not params[:author].nil? and params[:author] != ''%>| Author: <%= params[:author] %> <% end %>
    <% if not params[:keywords].nil? and params[:keywords] != ''%>| Keywords: <%= params[:keywords] %> <% end %>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th><a href=<%= docs_path({sort_by: :title}) %>>Title</a></th> 
        <th><a href=<%= docs_path({sort_by: :author}) %>>Author(s)</a></th>
        <th><a href=<%= docs_path({sort_by: :isbn}) %>>ISBN</a></th>
      </tr>
      <% @docs.first(50).each do |d| %>
        <% doc = d %>
        <tr>
          <td><a href=<%= doc_path(id: doc['id']) %>><%= if not doc['title'].nil? then doc['title'] else doc['title'].html_safe end %></a></td>
          <% authors = eval(doc['authors'].gsub('u\'', '\'').gsub(':', '=>')) %>
          <td>
            <% if not authors.nil? and not authors[0].nil? and not authors[0]['fullname'].nil?%>
              <%= authors[0]['fullname'] %>
            <% elsif not authors[0].nil? %>
              <%= authors[0]['fullname'] %>
            <% end %>
          </td>
          <td><%= doc['isbn'] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>